display :blick có 2 ý nghĩa
    -biến thẻ không xuống dòng thành thẻ xuống dòng
    -để hiếu margin và padding
display: inline 
    - để biến thẻ xuống dòng thành không xuống dòng
display: inline block
    -để biến thẻ xuống dòng thành không xuống dòng
    -để hiếu margin và padding